.users{
    list-style-type: none;
    color:black;
    margin: 5px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: purple;
}
.active{
    background-color: rgb(12, 150, 0);
    color: white;
    padding: 10px;
}

.container{display: flex;}